extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Suspendisse felis justo, pulvinar vel augue a, tristique ultrices nisi. Phasellus eu nisi sed dui lobortis hendrerit vitae eget ex. Nam sed sapien ligula. Vivamus pellentesque, elit vitae rutrum tempor, purus ipsum rutrum augue, sed pretium odio turpis ac mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus pulvinar diam id leo porttitor, eu dictum ligula vestibulum. Morbi euismod consequat urna id sodales. Phasellus egestas lacus id eros scelerisque, quis tincidunt diam ullamcorper.

                p Vestibulum euismod porttitor mauris a auctor. Donec luctus condimentum turpis at viverra. Aliquam erat volutpat. Donec posuere ut magna laoreet auctor. Aenean vitae varius quam. Praesent luctus lorem non augue ultrices finibus. Nulla dignissim magna risus. Maecenas consequat id urna nec egestas. Sed vestibulum rutrum tellus, et mollis magna elementum nec. Praesent nec augue eu sapien tempor tempor sit amet vel ante. Phasellus vel dui vitae ligula facilisis dictum. Sed varius eu urna non rhoncus. Aliquam mollis tellus eu nibh elementum rhoncus.

    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p sit amet vel ante. Phasellus vel dui vitae ligula facilisis dictum. Sed varius eu urna non rhoncus. Aliquam mollis tellus eu nibh elementum rhoncus

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p sit amet vel ante. Phasellus vel dui vitae ligula facilisis dictum. Sed varius eu urna non rhoncus. Aliquam mollis tellus eu nibh elementum rhoncus

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p sit amet vel ante. Phasellus vel dui vitae ligula facilisis dictum. Sed varius eu urna non rhoncus. Aliquam mollis tellus eu nibh elementum rhoncus
                